.row
  .col-sm-4
    = link_to new_user_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New User
    %h1 Users

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th First name
          %th Last name
          %th Email
          %th Password digest
          %th
          %th
          %th

      %tbody
        - @users.each do |user|
          %tr
            %td= user.first_name
            %td= user.last_name
            %td= user.email
            %td= user.password_digest
            %td= link_to 'Show', user
            %td= link_to 'Edit', edit_user_path(user)
            %td= link_to 'Delete', user, data: { confirm: 'Are you sure?' }, method: :delete
